{% extends 'base.html' %}

{% block title %}Новый заказ{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Новый заказ</h1>
<div class="card shadow-sm">
    <div class="card-body">
        <form method="post" class="row g-3">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="col-md-6">
                {{ form.client.label_tag }}
                {{ form.client }}
                {{ form.client.errors }}
            </div>
            <div class="col-md-6">
                {{ form.status.label_tag }}
                {{ form.status }}
                {{ form.status.errors }}
            </div>
            <div class="col-md-6">
                {{ form.date.label_tag }}
                {{ form.date }}
                {{ form.date.errors }}
            </div>
            <div class="col-12">
                {{ form.note.label_tag }}
                {{ form.note }}
                {{ form.note.errors }}
            </div>
            <div class="col-12 d-flex gap-2">
                <button class="btn btn-success" type="submit">Сохранить</button>
                <a class="btn btn-outline-secondary" href="{% url 'orders:list' %}">Назад</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
